/*! ===== slider ===== */
.slider_main {
	max-width: inherit;
	width: 100%;
	margin-top: 0;

	.owl-item.active.center {
		// overflow: hidden;
		// min-width: 1000px;
		z-index: 99999;

			.carousel__item {
				position: relative;

				img {
					@include center-translate();
					width: 160%;
					max-width: inherit;

					@include media(640) {
						width: auto;
						max-width: 100%;
					}
				}
			}
	}

	.carousel__item {
		height: 580px;
		transition: .5s;

		@include media(1700) {
			height: 30vw;
		}

		@include media(640) {
			height: 50vw;
		}

		@include media(480) {
			height: 80vw;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.carousel-text {
	    position: absolute;
	    right: -35%;
	    top: 0;
	    bottom: 0;
	    width: 85%;
	    font-size: 47px;
	    text-align: center;
	    background: linear-gradient(to left, transparent 0%, rgba(#fff, .8) 15%, rgba(#fff, .8) 85%, transparent 100%);

			@include media(1700) {
				font-size: 40px;
			}
			@include media(1400) {
				font-size: 30px;
			}
			@include media(640) {
				display: none;
			}

			&__inner {
				@include center-translate();
				left: 60%;
				width: 100%;

				@include media(768) {
					font-size: 22px;
				}
			}
		}

		.carousel-button {
			margin-top: 25px;
			padding: 15px 20px;
			font-size: 20px;
			border: 2px solid #000;

			@include media(1100) {
				padding: 10px 15px;
				font-size: 18px;
			}
			@include media(768) {
				font-size: 16px;
				padding: 5px 10px;
				border-width: 1px;
			}

			&:before {
				background-color: $orange;
			}

			&:hover {

			}
		}
	}

	.owl-item.mini {
		.carousel__item {
			transform: scale(0.8) !important;
		}
	}
	
	.owl-nav {
		@include media(640) {
			display: none;
		}
	}

	.owl-nav button.owl-next, 
	.owl-nav button.owl-prev {
		top: 0;
		bottom: 0;
		transform: none;
		width: 12%;
		outline: none;

		.owl-nav_arrow {
			position: absolute;
			top: 50%;
		}
	}

	.owl-nav button.owl-prev {
	  left: 0;
		background: linear-gradient(to left, #fff 20%, transparent);

	  .owl-nav_arrow {
	  	right: 40px;
			transform: translateY(-50%);
	  }
	}
	
	.owl-nav button.owl-next {
	  right: 0;
		background: linear-gradient(to right, #fff 20%, transparent);

	  .owl-nav_arrow {
	  	left: 40px;
	  	transform: translateY(-50%) rotate(180deg);
	  }
	}

	.owl-dots {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		
		.owl-dot {
			position: relative;
			width: 15px;
			height: 15px;
			margin: 0 5px;
			background-color: #353535;
			border-radius: 50%;
			box-shadow: 0 0 10px 5px #fff;
			outline: none;

			span {
				opacity: 0;
				@include center-absolute();
				background-color: $green;
				border-radius: 50%;
				box-shadow: 0 0 10px 5px rgba($green, .8);
			}

			&.active, &:hover {
				span {
					opacity: 1;
				}
				// background-color: $green;
			}
		}
	}

}

.category_group {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 50px;

	@include media(1200) {
		flex-direction: column;
	}
}

.category {
	padding: 0 15px;

	&_new {
		width: 80%;

		@include media(1200) {
			width: 100%;
		}
	}

	&_sale {
		margin-top: 65px;
	}

	&__carousel {
		max-width: inherit;
		width: 100%;
		margin-top: 50px;

		.carousel__item {
			padding: 5px;
		}

		.owl-nav {
			@include media(480) {
				display: none;
			}
		}

		.owl-nav button.owl-next, 
		.owl-nav button.owl-prev {
			top: -100px;
			transform: none;
			width: 50px;
			height: 50px;
			background-color: #ccc;

			&:hover {
				background-color: darken(#ccc, 10%);
			}
		}

		.owl-nav button.owl-next {
			right: 0;
		}
		
		.owl-nav button.owl-prev {
			left: 0;

		  .owl-nav_arrow {
		  	transform: rotate(-180deg);
		  }
		}
	}
}

.product-mini {
	padding: 10px;
	text-align: center;

	&:hover {
		box-shadow: 0 0 10px #ccc;

		.product-mini__buttons {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;

		&-holder {
			display: inline-block;
			height: 205px;
			// background-color: #f5f5f5;
		}
	}

	&__name {
		color: #171717;
		font: 14px $TrebuchetMS-Bold;
		text-align: center;
	}

	&__price {
		margin-top: 10px;
		text-align: center;
	}

	&__buttons {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		opacity: 0;
		transition: .5s;
		transform: translateY(20px);
	}

	&__button {
		margin-top: 10px;
		padding: 10px 15px;
		text-transform: uppercase;
		border: 2px solid #7d7d7d;
		font-size: 12px;
		color: #353535;

		&:before {
			background-color: #353535;
		}

		&_buy {
			border-color: $orange;

			&:before {
				background-color: $orange;
			}
		}
	}
}

.category_brand {
	width: 20%;
	padding-left: 50px;

	@include media(1200) {
		width: 100%;
		padding: 0;
		margin-top: 25px;
	}

	.title {
		width: 90%;
	}
}

.brands {

	&-list[class] {
		height: 325px;
		margin-top: 50px;

		@include media(1200) {
			height: auto;
			white-space: nowrap;
			padding: 0 15px;
		}

		.simplebar-scroll-content {
			@include media(1200) {
				overflow-y: hidden;
			}
		}
	}

	&-item {
		margin-bottom: 50px;
		font-family: $TrebuchetMS-Bold;
		color: #7d7d7d;
		font-style: italic;
		text-align: center;
		text-shadow: 5px 5px 4px rgba(#000, .35);


		@include media(1200) {
			display: inline-block;
			margin-right: 30px;
			margin-bottom: 25px;
		}

		&__name {
			font-size: 46px;
			text-transform: uppercase;
		}
		&__subname {
			font-size: 18px;
		}
	}
}

.infoblocks {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 10px;

	@include media(768) {
		flex-direction: column;
	}
}

.infoblock {
	display: block;
	overflow: hidden;

	&:hover {
		.infoblock__img {
			transform: scale(1.1);
		}
	}

	&_sm {
		width: 30%;
	}
	
	&_lg {
		width: 68%;
		margin-left: 2%;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: .5s;
	}


	@include media(768) {
		width: 100%;
		margin: 25px 0;
		height: 200px;
	}

}

.category_sale {
	width: 100%;
}

.steps {
	padding: 0 15px;
	margin: 15px 0 100px;

	&-list[class] {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		@include media(768) {
			flex-direction: column;
		}
	}

	&-item {
		margin-top: 30px;
		text-align: center;
	}
	
	&-img {
		width: 100%;
		height: 100%;
		object-fit: contain;

		&-holder {
			position: relative;
			height: 400px;
			padding: 0 50px;

			@include media(480) {
				height: 250px;
			}
		}
	}
	
	&-num {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 110px;
		height: 110px;
		border-radius: 50%;
		background-color: $orange;
		font: 40px $TrebuchetMS-Bold;
		line-height: 110px;
		text-align: center;

		@include media(480) {
			width: 70px;
			height: 70px;
			line-height: 70px;
			font-size: 30px;
		}
	}
	
	&-title {
		margin-top: 25px;
		font: 20px $TrebuchetMS-Bold;
		text-transform: uppercase;
	}
}

.contacts-col {
	float: left;
	width: 50%;
	margin: 50px 0 100px;
	padding: 0 15px;


	@include media(1170) {
		float: none;
		width: 100%;
	}

	&:first-child {
		padding-right: 30px;

		@include media(1170) {
			padding-right: 15px;
		}
	}
}
