// ====== header ======= 
header.header
	.header-top
		._container
			._row
				.menu
					.burger
						span Меню
						i.icon.icon-arrow_slider

					ul.menu-list
						li.menu-item.menu-item_active
							a.menu-link(href="/index.html") Главная
						li.menu-item
							a.menu-link(href="/blog.html") Блог
						li.menu-item
							a.menu-link(href="/catalog.html") Новинки
						li.menu-item
							a.menu-link(href="/comments.html") Отзывы
						li.menu-item
							a.menu-link(href="/about.html") О магазине
						li.menu-item
							a.menu-link(href="/payment.html") Оплата
						li.menu-item
							a.menu-link(href="/delivery.html") доставка
						li.menu-item
							a.menu-link(href="/contacts.html") контакты
				
				.header-top__right
					.dropdown-group
						.language.dropdown
							ul.language-list
								li.language-item
									a.language-link(href="#") рус
								li.language-item
									a.language-link(href="/ua") укр


						.currency.dropdown
							ul.currency-list
								li.currency-item
									a.currency-link(href="#") UAH
								li.currency-item
									a.currency-link(href="#") USD

					.phones.dropdown
						ul.phones-list
							li.phones-item
								a.phones-link(href="tel:+380670001122") +380670001122
							li.phones-item
								a.phones-link(href="tel:+380981231212") +380981231212

					.schedule
						ul.schedule-list
							li.schedule-item Пн
							li.schedule-item Вт
							li.schedule-item Ср
							li.schedule-item Чт
							li.schedule-item.schedule-item_inactive Пт
							li.schedule-item Сб
							li.schedule-item Вс
						.schedule-time 8:00 - 20:00

	// ====== header-main ======= 
	._container
		.header-main


			.logo
				a.logo-link(href="index.html")
					img.logo-img(src="/img/logo.png", alt="logo")

			form.form-search
				input.form-search__input(type="text")
				select.form-search__select
					option.form-search__option(value="0") Все разделы
					option.form-search__option(value="1") Мужская обувь
					option.form-search__option(value="2") Женская обувь
					option.form-search__option(value="3") Десткая обувь
				button.button.form-search__button
					span.icon.icon-lupa

			.hotlinks
				ul.hotlinks-list
					li.hotlinks-item
						a.hotlinks-link(href="/cabinet.html")
							span.icon.icon-cabinet
							.hotlinks-text Кабинет
					li.hotlinks-item
						a.hotlinks-link(href="/cabinet.html#orders")
							span.icon.icon-orders
							.hotlinks-text Заказы
					li.hotlinks-item
						a.hotlinks-link(href="/favorites.html")
							span.icon.icon-fav
							.hotlinks-text Избранное
					li.hotlinks-item
						a.hotlinks-link.hotlinks-link_basket(href="#cart_popup")
							span.icon.icon-basket
							.hotlinks-text Корзина

	// ====== header-bottom ======= 
	.header-catalog
		._container
			.header-catalog-inner

				a.header-catalog-all(href="#")
					i.fa.fa-bars
					|Все разделы

				ul.header-catalog-list
					li.header-catalog-item
						a.header-catalog-link(href="catalog.html")
							i.icon.icon-shoes_children
							span.header-catalog-link__text Детская обувь
					li.header-catalog-item
						a.header-catalog-link(href="catalog.html")
							i.icon.icon-shoes_snikers
							span.header-catalog-link__text Подростковая обувь
					li.header-catalog-item
						a.header-catalog-link(href="catalog.html")
							i.icon.icon-shoes_women
							span.header-catalog-link__text Женская обувь
					li.header-catalog-item
						a.header-catalog-link(href="catalog.html")
							i.icon.icon-shoes_smart
							span.header-catalog-link__text Мужская обувь
					li.header-catalog-item
						a.header-catalog-link(href="catalog.html")
							i.icon.icon-shoes_crox
							span.header-catalog-link__text Украинская обувь
					li.header-catalog-item
						a.header-catalog-link(href="catalog.html")
							i.icon.icon-shoes_sandals
							span.header-catalog-link__text Летняя обувь
					
				ul.header-status-list
					li.header-status-item
						a.header-status-link(href="catalog.html")
							i.icon.icon-new
							span.header-status-link__text Новинки
					li.header-status-item
						a.header-status-link(href="catalog.html")
							i.icon.icon-sale
							span.header-status-link__text Уценка
			
			.header-catalog-dropdown(style="display: none;")
				ul.header-catalog-list
					li.header-catalog-item.parent
						a.header-catalog-link(href="catalog.html")
							span.header-catalog-link__text Детская обувь
							button.button.dropdown-arrow

						ul.sublist(style="display: none;")
							li.sublist__item.header-catalog-item.parent
								a.header-catalog-link.sublist__link(href="#") Демисезонная
									button.button.dropdown-arrow
							
								ul.sublist(style="display: none;")
									li.header-catalog-item.sublist__item.parent
										a.header-catalog-link.sublist__link(href="#") 34
											button.button.dropdown-arrow
							
										ul.sublist(style="display: none;")
											li.sublist__item
												a.sublist__link(href="#") 34-1
											li.sublist__item
												a.sublist__link(href="#") 35-1
											li.sublist__item
												a.sublist__link(href="#") 36-1
											li.sublist__item
												a.sublist__link(href="#") 37-1
									li.sublist__item
										a.sublist__link(href="#") 35
									li.sublist__item
										a.sublist__link(href="#") 36
									li.sublist__item
										a.sublist__link(href="#") 37
							li.sublist__item
								a.sublist__link(href="#") Демисезонная
							li.sublist__item
								a.sublist__link(href="#") Демисезонная
							li.sublist__item
								a.sublist__link(href="#") Демисезонная
					li.header-catalog-item
						a.header-catalog-link(href="catalog.html")
							span.header-catalog-link__text Подростковая обувь
					li.header-catalog-item
						a.header-catalog-link(href="catalog.html")
							span.header-catalog-link__text Женская обувь
					li.header-catalog-item
						a.header-catalog-link(href="catalog.html")
							span.header-catalog-link__text Мужская обувь
					li.header-catalog-item
						a.header-catalog-link(href="catalog.html")
							span.header-catalog-link__text Украинская обувь
					li.header-catalog-item
						a.header-catalog-link(href="catalog.html")
							span.header-catalog-link__text Летняя обувь