// ====== header ======= 
header.header
	.header-top
		._container
			._row
				.menu
					.burger
					ul.menu-list
						li.menu-item
							a.menu-link(href="#") Главная
						li.menu-item
							a.menu-link(href="#") Блог
						li.menu-item
							a.menu-link(href="#") Новинки
						li.menu-item
							a.menu-link(href="#") Отзывы
						li.menu-item
							a.menu-link(href="#") О магазине
						li.menu-item
							a.menu-link(href="#") Оплата
						li.menu-item
							a.menu-link(href="#") доставка
						li.menu-item
							a.menu-link(href="#") контакты

				.language
					ul.language-list
						li.language-item
							a.language-link(href="#") рус
						li.language-item
							a.language-link(href="#") укр


				.currency

				.phones

				.schedule

	.header-main
		._container
			._row

	.header-bottom
		._container
			._row