// ====== modals ======= 
.modals
	#cart_popup
		.modal-header
		.modal-body#cart_content
			include cart-table
		.modal-footer
			._row.cart__buttons
				button.button.hvr-sweep-to-right.cart__close Продолжить покупки
				a.button.hvr-sweep-to-right.cart__checkout(href="checkout.html") Оформить заказ