extends ../main

block vars
	-
		var breadcrumbs = [
			{
				name: 'Главная',
				link: 'index.html'
			},
			{
				name: 'Блог',
				link: 'blog.html'
			},
			{
				name: 'Что можно найти на нашем сайте?',
				link: '#'
			},
		]

block content
	._container

		// ====== article ======= 
		.article
			.article-photo-holder
				img.article-photo(src="img/blog/blog_2.jpg", alt="blog")
			.article-title
				.article-title__inner Что можно найти на нашем сайте?
			.article-body
				p Обувь обязательно должна быть практичной и удобной. Важно подобрать качественную обувь, чтобы она не вызывала ощущения дискомфорта. Обувь оптом - это невероятно выгодно, ведь таким образом можно сэкономить.
				p Детская обувь должна быть максимально комфортной для детей, поскольку их стопа еще формируется. При выборе обуви важно учитывать разнообразные факторы. Помимо размера и ширины стопы стоит обратить внимание на материал, из которого изготовлена обувь, также немало важно проверить подошву, а именно ортопедическая ли она.
				p АССОРТИМЕНТ ОБУВИ
				p Решение купить обувь оптом в интернет магазине в режиме онлайн - это выгодно и удобно. Таким образом можно хорошенько сэкономить и купитьне хорошую модель недорого. Этот вариант идеально подходит для владельцев обувных магазинов, которые покупают обувь оптом с целью продажи. Стоимость обуви при покупке оптом более выгодная, нежели при покупке в розницу. Покупая от 20 ящиков, вы получаете бесплатную доставку.
				p На сайте представлен широкий ассортимент обуви оптом. Вся обувь поделена на категории:
				p Детская обувь;
				p Обувь для подростков;
				p Мужская обувь;
		
			.owl-carousel.article__carousel
				- var i = 0
				while i < 7
					.carousel__item
						include ../section/product-mini

			.article-body
				p Обувь обязательно должна быть практичной и удобной. Важно подобрать качественную обувь, чтобы она не вызывала ощущения дискомфорта. Обувь оптом - это невероятно выгодно, ведь таким образом можно сэкономить.
				p Детская обувь должна быть максимально комфортной для детей, поскольку их стопа еще формируется. При выборе обуви важно учитывать разнообразные факторы. Помимо размера и ширины стопы стоит обратить внимание на материал, из которого изготовлена обувь, также немало важно проверить подошву, а именно ортопедическая ли она.
				p АССОРТИМЕНТ ОБУВИ
				p Решение купить обувь оптом в интернет магазине в режиме онлайн - это выгодно и удобно. Таким образом можно хорошенько сэкономить и купитьне хорошую модель недорого. Этот вариант идеально подходит для владельцев обувных магазинов, которые покупают обувь оптом с целью продажи. Стоимость обуви при покупке оптом более выгодная, нежели при покупке в розницу. Покупая от 20 ящиков, вы получаете бесплатную доставку.
				p На сайте представлен широкий ассортимент обуви оптом. Вся обувь поделена на категории:
				p Детская обувь;
				p Обувь для подростков;
				p Мужская обувь;
				p Женская обувь;
				p Обувь от украинского производителя;
				p Летняя обувь.
				p Детская обувь представлена в туфлях, кроссовках, бутсах, босоножках, кедах, тапочках, резиновых сапогах, пинетках, нарядных и праздничных туфлях, чешках и демисезонной обуви. Можно подобрать обувь на весь год, ведь представлены и летние модели, и демисезонные, и зимние.
				p Для подростков можно выбрать спортивную обувь для активного время провождения, среди которой бутсы, кроссовки и кеды. На летний период отлично подойдут босоножки. Туфли можно одевать на торжественные мероприятия. На период межсезонья можно подобрать резиновые сапоги или демисезонную обувь.
				p Модели женской обуви представлены на каблуках и на плоской подошве. В каталоге можно заказать онлайн балетки, босоножки, туфли, сникерсы, мокасины, шлепанцы, тапочки. На весну и осень представлен широкий ассортимент демисезонной обуви и резиновых сапог. Для особых случаев предусмотрены свадебные туфли.
				p Мужская обувь представлена в разнообразии - туфли, бутсы, мокасины, кроссовки, сандалии, шлепанцы, резиновые сапоги, кеды. Также в каталоге представлена качественная обувь от украинского производителя. Соотношение качества и цены порадует каждого.
				p В интернет магазине представлена только качественная обувь по выгодной стоимости. Обувь прослужит длительное время, при этом она не утратит презентабельный внешний вид. Материал используется только высококачественный, благодаря чему модели износостойкие и удобные.
				p Цена на обувь оптом более выгодная, чем при покупке в розницу. Магазин осуществляет доставку только через проверенные службы доставки. Доставка осуществляется в любой уголок Украины за минимальный срок, в том числе в Киев, Одессу, Харьков. На сайте можно заказать обувь недорого. При заказе от 20 ящиков доставка бесплатная.
				p Обувь должна быть качественной и удобной, именно такая представлена на сайте в интернет магазине!

		.title
			.title__inner Похожие статьи

		// ====== blog ======= 
		.blog
			ul.blog-list
				- var j = 0
				while j < 3
					- j++
					li.blog-item
						.blog-item__main
							a.blog-item__photo-holder(href="article.html")
								img.blog-item__photo(src="/img/blog/blog_1.jpg", alt="blog")
							.blog-item__desc
								.blog-item__date 22 января 2018
								.blog-item__name Что можно найти на нашем сайте?
								.blog-item__body Малыши растут очень быстро, а их активный и образ жизни только ускоряет необходимость в смене детского гардероба. Покупка обуви для ребенка – ответственное предприятие: нужно учесть очень много факторов, и не забывать обращать внимание на детали. Так, при заказе детской обуви мало проверить размер и ширину подошвы. Нужно также знать все о материале, из которого сделана пара; отвечает ли она современным эргономичным и ...
								.blog-item__links
									a.blog-item__link(href="article.html") подробнее
									
						.blog-item__slider
							.owl-carousel.blog-item__carousel
								- var i = 0
								while i < 7
									.carousel__item
										include ../section/product-mini