extends ../main

block content
	._container

		// ====== owl-carousel ======= 
		.owl-carousel.slider_main
			.carousel__item
				img(src="img/slider/slide_1.jpg")
				.carousel-text
					.carousel-text__inner
						div(style="text-transform: uppercase;") Бесплатная
						div(style="text-transform: uppercase;") доставка
						div от 20 ящиков
						a.button.hvr-sweep-to-right.carousel-button(href="/shop")
							| Начать покупки
							.icon.icon-arrow_go
			.carousel__item
				img(src="img/slider/slide_2.jpg")
			.carousel__item
				img(src="img/slider/slide_3.jpg")
			.carousel__item
				img(src="img/slider/slide_1.jpg")
			.carousel__item
				img(src="img/slider/slide_2.jpg")

		// ====== category ======= 
		.category_group
			.category.category_new
				.title
					.title__inner Новинки
				.owl-carousel.category__carousel
					- var i = 0
					while i < 7
						.carousel__item
							include ../section/product-mini

			.category.category_brand
				.title
					.title__inner Бренды
				ul.brands-list(data-simplebar)
					li.brands-item
						.brands-item__name zoom
						.brands-item__subname shoes
					li.brands-item
						.brands-item__name zoom
						.brands-item__subname shoes
					li.brands-item
						.brands-item__name zoom
						.brands-item__subname shoes
					li.brands-item
						.brands-item__name zoom
						.brands-item__subname shoes

		// ====== infoblocks ======= 
		.infoblocks
			a.infoblock.infoblock_sm(href="#")
				img.infoblock__img(src="/img/info/info_1.jpg", alt="info")
			a.infoblock.infoblock_lg(href="#")
				img.infoblock__img(src="/img/info/info_2.jpg", alt="info")

		// ====== category ======= 
		.category.category_sale
			.title
				.title__inner Скидка
			.owl-carousel.category__carousel
				- var i = 0
				while i < 7
					.carousel__item
						include ../section/product-mini

		// ====== steps ======= 
		.steps
			.title
				.title__inner Как мы работаем

			ul.steps-list
				li.steps-item
					.steps-img-holder
						img.steps-img(src="/img/other/track.jpg", alt="step_1")
						.steps-num 1
					.steps-title Загружаем товар на складе
				li.steps-item
					.steps-img-holder
						img.steps-img(src="/img/other/packages.jpg", alt="step_2")
						.steps-num 2
					.steps-title Отправляем на новую почту
				li.steps-item
					.steps-img-holder
						img.steps-img(src="/img/other/chicka.jpg", alt="step_3")
						.steps-num 3
					.steps-title Товар у покупателя
