// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-go-name: 'arrow_go';
$arrow-go-x: 110px;
$arrow-go-y: 50px;
$arrow-go-offset-x: -110px;
$arrow-go-offset-y: -50px;
$arrow-go-width: 17px;
$arrow-go-height: 7px;
$arrow-go-total-width: 239px;
$arrow-go-total-height: 107px;
$arrow-go-image: '../img/spriteIcons.png';
$arrow-go: (110px, 50px, -110px, -50px, 17px, 7px, 239px, 107px, '../img/spriteIcons.png', 'arrow_go', );
$arrow-go-green-name: 'arrow_go_green';
$arrow-go-green-x: 88px;
$arrow-go-green-y: 50px;
$arrow-go-green-offset-x: -88px;
$arrow-go-green-offset-y: -50px;
$arrow-go-green-width: 17px;
$arrow-go-green-height: 7px;
$arrow-go-green-total-width: 239px;
$arrow-go-green-total-height: 107px;
$arrow-go-green-image: '../img/spriteIcons.png';
$arrow-go-green: (88px, 50px, -88px, -50px, 17px, 7px, 239px, 107px, '../img/spriteIcons.png', 'arrow_go_green', );
$arrow-select-name: 'arrow_select';
$arrow-select-x: 132px;
$arrow-select-y: 50px;
$arrow-select-offset-x: -132px;
$arrow-select-offset-y: -50px;
$arrow-select-width: 11px;
$arrow-select-height: 7px;
$arrow-select-total-width: 239px;
$arrow-select-total-height: 107px;
$arrow-select-image: '../img/spriteIcons.png';
$arrow-select: (132px, 50px, -132px, -50px, 11px, 7px, 239px, 107px, '../img/spriteIcons.png', 'arrow_select', );
$arrow-slider-name: 'arrow_slider';
$arrow-slider-x: 0px;
$arrow-slider-y: 18px;
$arrow-slider-offset-x: 0px;
$arrow-slider-offset-y: -18px;
$arrow-slider-width: 26px;
$arrow-slider-height: 48px;
$arrow-slider-total-width: 239px;
$arrow-slider-total-height: 107px;
$arrow-slider-image: '../img/spriteIcons.png';
$arrow-slider: (0px, 18px, 0px, -18px, 26px, 48px, 239px, 107px, '../img/spriteIcons.png', 'arrow_slider', );
$basket-name: 'basket';
$basket-x: 64px;
$basket-y: 71px;
$basket-offset-x: -64px;
$basket-offset-y: -71px;
$basket-width: 16px;
$basket-height: 14px;
$basket-total-width: 239px;
$basket-total-height: 107px;
$basket-image: '../img/spriteIcons.png';
$basket: (64px, 71px, -64px, -71px, 16px, 14px, 239px, 107px, '../img/spriteIcons.png', 'basket', );
$cabinet-name: 'cabinet';
$cabinet-x: 21px;
$cabinet-y: 71px;
$cabinet-offset-x: -21px;
$cabinet-offset-y: -71px;
$cabinet-width: 16px;
$cabinet-height: 16px;
$cabinet-total-width: 239px;
$cabinet-total-height: 107px;
$cabinet-image: '../img/spriteIcons.png';
$cabinet: (21px, 71px, -21px, -71px, 16px, 16px, 239px, 107px, '../img/spriteIcons.png', 'cabinet', );
$check-name: 'check';
$check-x: 126px;
$check-y: 71px;
$check-offset-x: -126px;
$check-offset-y: -71px;
$check-width: 9px;
$check-height: 9px;
$check-total-width: 239px;
$check-total-height: 107px;
$check-image: '../img/spriteIcons.png';
$check: (126px, 71px, -126px, -71px, 9px, 9px, 239px, 107px, '../img/spriteIcons.png', 'check', );
$close-name: 'close';
$close-x: 31px;
$close-y: 18px;
$close-offset-x: -31px;
$close-offset-y: -18px;
$close-width: 27px;
$close-height: 27px;
$close-total-width: 239px;
$close-total-height: 107px;
$close-image: '../img/spriteIcons.png';
$close: (31px, 18px, -31px, -18px, 27px, 27px, 239px, 107px, '../img/spriteIcons.png', 'close', );
$delete-name: 'delete';
$delete-x: 140px;
$delete-y: 71px;
$delete-offset-x: -140px;
$delete-offset-y: -71px;
$delete-width: 8px;
$delete-height: 8px;
$delete-total-width: 239px;
$delete-total-height: 107px;
$delete-image: '../img/spriteIcons.png';
$delete: (140px, 71px, -140px, -71px, 8px, 8px, 239px, 107px, '../img/spriteIcons.png', 'delete', );
$fav-name: 'fav';
$fav-x: 107px;
$fav-y: 71px;
$fav-offset-x: -107px;
$fav-offset-y: -71px;
$fav-width: 14px;
$fav-height: 13px;
$fav-total-width: 239px;
$fav-total-height: 107px;
$fav-image: '../img/spriteIcons.png';
$fav: (107px, 71px, -107px, -71px, 14px, 13px, 239px, 107px, '../img/spriteIcons.png', 'fav', );
$lupa-name: 'lupa';
$lupa-x: 0px;
$lupa-y: 71px;
$lupa-offset-x: 0px;
$lupa-offset-y: -71px;
$lupa-width: 16px;
$lupa-height: 16px;
$lupa-total-width: 239px;
$lupa-total-height: 107px;
$lupa-image: '../img/spriteIcons.png';
$lupa: (0px, 71px, 0px, -71px, 16px, 16px, 239px, 107px, '../img/spriteIcons.png', 'lupa', );
$minus-name: 'minus';
$minus-x: 144px;
$minus-y: 34px;
$minus-offset-x: -144px;
$minus-offset-y: -34px;
$minus-width: 19px;
$minus-height: 1px;
$minus-total-width: 239px;
$minus-total-height: 107px;
$minus-image: '../img/spriteIcons.png';
$minus: (144px, 34px, -144px, -34px, 19px, 1px, 239px, 107px, '../img/spriteIcons.png', 'minus', );
$new-name: 'new';
$new-x: 94px;
$new-y: 18px;
$new-offset-x: -94px;
$new-offset-y: -18px;
$new-width: 21px;
$new-height: 19px;
$new-total-width: 239px;
$new-total-height: 107px;
$new-image: '../img/spriteIcons.png';
$new: (94px, 18px, -94px, -18px, 21px, 19px, 239px, 107px, '../img/spriteIcons.png', 'new', );
$orders-name: 'orders';
$orders-x: 85px;
$orders-y: 71px;
$orders-offset-x: -85px;
$orders-offset-y: -71px;
$orders-width: 17px;
$orders-height: 13px;
$orders-total-width: 239px;
$orders-total-height: 107px;
$orders-image: '../img/spriteIcons.png';
$orders: (85px, 71px, -85px, -71px, 17px, 13px, 239px, 107px, '../img/spriteIcons.png', 'orders', );
$plus-name: 'plus';
$plus-x: 120px;
$plus-y: 18px;
$plus-offset-x: -120px;
$plus-offset-y: -18px;
$plus-width: 19px;
$plus-height: 19px;
$plus-total-width: 239px;
$plus-total-height: 107px;
$plus-image: '../img/spriteIcons.png';
$plus: (120px, 18px, -120px, -18px, 19px, 19px, 239px, 107px, '../img/spriteIcons.png', 'plus', );
$sale-name: 'sale';
$sale-x: 62px;
$sale-y: 50px;
$sale-offset-x: -62px;
$sale-offset-y: -50px;
$sale-width: 21px;
$sale-height: 12px;
$sale-total-width: 239px;
$sale-total-height: 107px;
$sale-image: '../img/spriteIcons.png';
$sale: (62px, 50px, -62px, -50px, 21px, 12px, 239px, 107px, '../img/spriteIcons.png', 'sale', );
$shoes-children-name: 'shoes_children';
$shoes-children-x: 63px;
$shoes-children-y: 18px;
$shoes-children-offset-x: -63px;
$shoes-children-offset-y: -18px;
$shoes-children-width: 26px;
$shoes-children-height: 23px;
$shoes-children-total-width: 239px;
$shoes-children-total-height: 107px;
$shoes-children-image: '../img/spriteIcons.png';
$shoes-children: (63px, 18px, -63px, -18px, 26px, 23px, 239px, 107px, '../img/spriteIcons.png', 'shoes_children', );
$shoes-crox-name: 'shoes_crox';
$shoes-crox-x: 144px;
$shoes-crox-y: 18px;
$shoes-crox-offset-x: -144px;
$shoes-crox-offset-y: -18px;
$shoes-crox-width: 28px;
$shoes-crox-height: 11px;
$shoes-crox-total-width: 239px;
$shoes-crox-total-height: 107px;
$shoes-crox-image: '../img/spriteIcons.png';
$shoes-crox: (144px, 18px, -144px, -18px, 28px, 11px, 239px, 107px, '../img/spriteIcons.png', 'shoes_crox', );
$shoes-sandals-name: 'shoes_sandals';
$shoes-sandals-x: 208px;
$shoes-sandals-y: 18px;
$shoes-sandals-offset-x: -208px;
$shoes-sandals-offset-y: -18px;
$shoes-sandals-width: 26px;
$shoes-sandals-height: 9px;
$shoes-sandals-total-width: 239px;
$shoes-sandals-total-height: 107px;
$shoes-sandals-image: '../img/spriteIcons.png';
$shoes-sandals: (208px, 18px, -208px, -18px, 26px, 9px, 239px, 107px, '../img/spriteIcons.png', 'shoes_sandals', );
$shoes-smart-name: 'shoes_smart';
$shoes-smart-x: 177px;
$shoes-smart-y: 18px;
$shoes-smart-offset-x: -177px;
$shoes-smart-offset-y: -18px;
$shoes-smart-width: 26px;
$shoes-smart-height: 11px;
$shoes-smart-total-width: 239px;
$shoes-smart-total-height: 107px;
$shoes-smart-image: '../img/spriteIcons.png';
$shoes-smart: (177px, 18px, -177px, -18px, 26px, 11px, 239px, 107px, '../img/spriteIcons.png', 'shoes_smart', );
$shoes-snikers-name: 'shoes_snikers';
$shoes-snikers-x: 31px;
$shoes-snikers-y: 50px;
$shoes-snikers-offset-x: -31px;
$shoes-snikers-offset-y: -50px;
$shoes-snikers-width: 26px;
$shoes-snikers-height: 12px;
$shoes-snikers-total-width: 239px;
$shoes-snikers-total-height: 107px;
$shoes-snikers-image: '../img/spriteIcons.png';
$shoes-snikers: (31px, 50px, -31px, -50px, 26px, 12px, 239px, 107px, '../img/spriteIcons.png', 'shoes_snikers', );
$shoes-women-name: 'shoes_women';
$shoes-women-x: 42px;
$shoes-women-y: 71px;
$shoes-women-offset-x: -42px;
$shoes-women-offset-y: -71px;
$shoes-women-width: 17px;
$shoes-women-height: 14px;
$shoes-women-total-width: 239px;
$shoes-women-total-height: 107px;
$shoes-women-image: '../img/spriteIcons.png';
$shoes-women: (42px, 71px, -42px, -71px, 17px, 14px, 239px, 107px, '../img/spriteIcons.png', 'shoes_women', );
$trash-name: 'trash';
$trash-x: 0px;
$trash-y: 92px;
$trash-offset-x: 0px;
$trash-offset-y: -92px;
$trash-width: 12px;
$trash-height: 15px;
$trash-total-width: 239px;
$trash-total-height: 107px;
$trash-image: '../img/spriteIcons.png';
$trash: (0px, 92px, 0px, -92px, 12px, 15px, 239px, 107px, '../img/spriteIcons.png', 'trash', );
$underline-name: 'underline';
$underline-x: 0px;
$underline-y: 0px;
$underline-offset-x: 0px;
$underline-offset-y: 0px;
$underline-width: 239px;
$underline-height: 13px;
$underline-total-width: 239px;
$underline-total-height: 107px;
$underline-image: '../img/spriteIcons.png';
$underline: (0px, 0px, 0px, 0px, 239px, 13px, 239px, 107px, '../img/spriteIcons.png', 'underline', );
$icons-width: 239px;
$icons-height: 107px;
$icons-image: '../img/spriteIcons.png';
$icons-sprites: ($arrow-go, $arrow-go-green, $arrow-select, $arrow-slider, $basket, $cabinet, $check, $close, $delete, $fav, $lupa, $minus, $new, $orders, $plus, $sale, $shoes-children, $shoes-crox, $shoes-sandals, $shoes-smart, $shoes-snikers, $shoes-women, $trash, $underline, );
$icons: (239px, 107px, '../img/spriteIcons.png', $icons-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
