// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-go-name: 'arrow_go';
$arrow-go-x: 44px;
$arrow-go-y: 94px;
$arrow-go-offset-x: -44px;
$arrow-go-offset-y: -94px;
$arrow-go-width: 17px;
$arrow-go-height: 7px;
$arrow-go-total-width: 127px;
$arrow-go-total-height: 108px;
$arrow-go-image: '../img/spriteIcons.png';
$arrow-go: (44px, 94px, -44px, -94px, 17px, 7px, 127px, 108px, '../img/spriteIcons.png', 'arrow_go', );
$arrow-go-green-name: 'arrow_go_green';
$arrow-go-green-x: 57px;
$arrow-go-green-y: 77px;
$arrow-go-green-offset-x: -57px;
$arrow-go-green-offset-y: -77px;
$arrow-go-green-width: 17px;
$arrow-go-green-height: 7px;
$arrow-go-green-total-width: 127px;
$arrow-go-green-total-height: 108px;
$arrow-go-green-image: '../img/spriteIcons.png';
$arrow-go-green: (57px, 77px, -57px, -77px, 17px, 7px, 127px, 108px, '../img/spriteIcons.png', 'arrow_go_green', );
$arrow-select-name: 'arrow_select';
$arrow-select-x: 115px;
$arrow-select-y: 34px;
$arrow-select-offset-x: -115px;
$arrow-select-offset-y: -34px;
$arrow-select-width: 11px;
$arrow-select-height: 7px;
$arrow-select-total-width: 127px;
$arrow-select-total-height: 108px;
$arrow-select-image: '../img/spriteIcons.png';
$arrow-select: (115px, 34px, -115px, -34px, 11px, 7px, 127px, 108px, '../img/spriteIcons.png', 'arrow_select', );
$arrow-slider-name: 'arrow_slider';
$arrow-slider-x: 0px;
$arrow-slider-y: 0px;
$arrow-slider-offset-x: 0px;
$arrow-slider-offset-y: 0px;
$arrow-slider-width: 26px;
$arrow-slider-height: 48px;
$arrow-slider-total-width: 127px;
$arrow-slider-total-height: 108px;
$arrow-slider-image: '../img/spriteIcons.png';
$arrow-slider: (0px, 0px, 0px, 0px, 26px, 48px, 127px, 108px, '../img/spriteIcons.png', 'arrow_slider', );
$basket-name: 'basket';
$basket-x: 94px;
$basket-y: 42px;
$basket-offset-x: -94px;
$basket-offset-y: -42px;
$basket-width: 16px;
$basket-height: 14px;
$basket-total-width: 127px;
$basket-total-height: 108px;
$basket-image: '../img/spriteIcons.png';
$basket: (94px, 42px, -94px, -42px, 16px, 14px, 127px, 108px, '../img/spriteIcons.png', 'basket', );
$cabinet-name: 'cabinet';
$cabinet-x: 94px;
$cabinet-y: 21px;
$cabinet-offset-x: -94px;
$cabinet-offset-y: -21px;
$cabinet-width: 16px;
$cabinet-height: 16px;
$cabinet-total-width: 127px;
$cabinet-total-height: 108px;
$cabinet-image: '../img/spriteIcons.png';
$cabinet: (94px, 21px, -94px, -21px, 16px, 16px, 127px, 108px, '../img/spriteIcons.png', 'cabinet', );
$check-name: 'check';
$check-x: 115px;
$check-y: 20px;
$check-offset-x: -115px;
$check-offset-y: -20px;
$check-width: 9px;
$check-height: 9px;
$check-total-width: 127px;
$check-total-height: 108px;
$check-image: '../img/spriteIcons.png';
$check: (115px, 20px, -115px, -20px, 9px, 9px, 127px, 108px, '../img/spriteIcons.png', 'check', );
$close-name: 'close';
$close-x: 31px;
$close-y: 0px;
$close-offset-x: -31px;
$close-offset-y: 0px;
$close-width: 27px;
$close-height: 27px;
$close-total-width: 127px;
$close-total-height: 108px;
$close-image: '../img/spriteIcons.png';
$close: (31px, 0px, -31px, 0px, 27px, 27px, 127px, 108px, '../img/spriteIcons.png', 'close', );
$delete-name: 'delete';
$delete-x: 115px;
$delete-y: 46px;
$delete-offset-x: -115px;
$delete-offset-y: -46px;
$delete-width: 8px;
$delete-height: 8px;
$delete-total-width: 127px;
$delete-total-height: 108px;
$delete-image: '../img/spriteIcons.png';
$delete: (115px, 46px, -115px, -46px, 8px, 8px, 127px, 108px, '../img/spriteIcons.png', 'delete', );
$fav-name: 'fav';
$fav-x: 94px;
$fav-y: 61px;
$fav-offset-x: -94px;
$fav-offset-y: -61px;
$fav-width: 14px;
$fav-height: 13px;
$fav-total-width: 127px;
$fav-total-height: 108px;
$fav-image: '../img/spriteIcons.png';
$fav: (94px, 61px, -94px, -61px, 14px, 13px, 127px, 108px, '../img/spriteIcons.png', 'fav', );
$lupa-name: 'lupa';
$lupa-x: 94px;
$lupa-y: 0px;
$lupa-offset-x: -94px;
$lupa-offset-y: 0px;
$lupa-width: 16px;
$lupa-height: 16px;
$lupa-total-width: 127px;
$lupa-total-height: 108px;
$lupa-image: '../img/spriteIcons.png';
$lupa: (94px, 0px, -94px, 0px, 16px, 16px, 127px, 108px, '../img/spriteIcons.png', 'lupa', );
$minus-name: 'minus';
$minus-x: 24px;
$minus-y: 69px;
$minus-offset-x: -24px;
$minus-offset-y: -69px;
$minus-width: 19px;
$minus-height: 1px;
$minus-total-width: 127px;
$minus-total-height: 108px;
$minus-image: '../img/spriteIcons.png';
$minus: (24px, 69px, -24px, -69px, 19px, 1px, 127px, 108px, '../img/spriteIcons.png', 'minus', );
$new-name: 'new';
$new-x: 63px;
$new-y: 28px;
$new-offset-x: -63px;
$new-offset-y: -28px;
$new-width: 21px;
$new-height: 19px;
$new-total-width: 127px;
$new-total-height: 108px;
$new-image: '../img/spriteIcons.png';
$new: (63px, 28px, -63px, -28px, 21px, 19px, 127px, 108px, '../img/spriteIcons.png', 'new', );
$orders-name: 'orders';
$orders-x: 22px;
$orders-y: 94px;
$orders-offset-x: -22px;
$orders-offset-y: -94px;
$orders-width: 17px;
$orders-height: 13px;
$orders-total-width: 127px;
$orders-total-height: 108px;
$orders-image: '../img/spriteIcons.png';
$orders: (22px, 94px, -22px, -94px, 17px, 13px, 127px, 108px, '../img/spriteIcons.png', 'orders', );
$plus-name: 'plus';
$plus-x: 0px;
$plus-y: 53px;
$plus-offset-x: 0px;
$plus-offset-y: -53px;
$plus-width: 19px;
$plus-height: 19px;
$plus-total-width: 127px;
$plus-total-height: 108px;
$plus-image: '../img/spriteIcons.png';
$plus: (0px, 53px, 0px, -53px, 19px, 19px, 127px, 108px, '../img/spriteIcons.png', 'plus', );
$sale-name: 'sale';
$sale-x: 0px;
$sale-y: 77px;
$sale-offset-x: 0px;
$sale-offset-y: -77px;
$sale-width: 21px;
$sale-height: 12px;
$sale-total-width: 127px;
$sale-total-height: 108px;
$sale-image: '../img/spriteIcons.png';
$sale: (0px, 77px, 0px, -77px, 21px, 12px, 127px, 108px, '../img/spriteIcons.png', 'sale', );
$shoes-children-name: 'shoes_children';
$shoes-children-x: 63px;
$shoes-children-y: 0px;
$shoes-children-offset-x: -63px;
$shoes-children-offset-y: 0px;
$shoes-children-width: 26px;
$shoes-children-height: 23px;
$shoes-children-total-width: 127px;
$shoes-children-total-height: 108px;
$shoes-children-image: '../img/spriteIcons.png';
$shoes-children: (63px, 0px, -63px, 0px, 26px, 23px, 127px, 108px, '../img/spriteIcons.png', 'shoes_children', );
$shoes-crox-name: 'shoes_crox';
$shoes-crox-x: 24px;
$shoes-crox-y: 53px;
$shoes-crox-offset-x: -24px;
$shoes-crox-offset-y: -53px;
$shoes-crox-width: 28px;
$shoes-crox-height: 11px;
$shoes-crox-total-width: 127px;
$shoes-crox-total-height: 108px;
$shoes-crox-image: '../img/spriteIcons.png';
$shoes-crox: (24px, 53px, -24px, -53px, 28px, 11px, 127px, 108px, '../img/spriteIcons.png', 'shoes_crox', );
$shoes-sandals-name: 'shoes_sandals';
$shoes-sandals-x: 26px;
$shoes-sandals-y: 77px;
$shoes-sandals-offset-x: -26px;
$shoes-sandals-offset-y: -77px;
$shoes-sandals-width: 26px;
$shoes-sandals-height: 9px;
$shoes-sandals-total-width: 127px;
$shoes-sandals-total-height: 108px;
$shoes-sandals-image: '../img/spriteIcons.png';
$shoes-sandals: (26px, 77px, -26px, -77px, 26px, 9px, 127px, 108px, '../img/spriteIcons.png', 'shoes_sandals', );
$shoes-smart-name: 'shoes_smart';
$shoes-smart-x: 57px;
$shoes-smart-y: 53px;
$shoes-smart-offset-x: -57px;
$shoes-smart-offset-y: -53px;
$shoes-smart-width: 26px;
$shoes-smart-height: 11px;
$shoes-smart-total-width: 127px;
$shoes-smart-total-height: 108px;
$shoes-smart-image: '../img/spriteIcons.png';
$shoes-smart: (57px, 53px, -57px, -53px, 26px, 11px, 127px, 108px, '../img/spriteIcons.png', 'shoes_smart', );
$shoes-snikers-name: 'shoes_snikers';
$shoes-snikers-x: 31px;
$shoes-snikers-y: 32px;
$shoes-snikers-offset-x: -31px;
$shoes-snikers-offset-y: -32px;
$shoes-snikers-width: 26px;
$shoes-snikers-height: 12px;
$shoes-snikers-total-width: 127px;
$shoes-snikers-total-height: 108px;
$shoes-snikers-image: '../img/spriteIcons.png';
$shoes-snikers: (31px, 32px, -31px, -32px, 26px, 12px, 127px, 108px, '../img/spriteIcons.png', 'shoes_snikers', );
$shoes-women-name: 'shoes_women';
$shoes-women-x: 0px;
$shoes-women-y: 94px;
$shoes-women-offset-x: 0px;
$shoes-women-offset-y: -94px;
$shoes-women-width: 17px;
$shoes-women-height: 14px;
$shoes-women-total-width: 127px;
$shoes-women-total-height: 108px;
$shoes-women-image: '../img/spriteIcons.png';
$shoes-women: (0px, 94px, 0px, -94px, 17px, 14px, 127px, 108px, '../img/spriteIcons.png', 'shoes_women', );
$trash-name: 'trash';
$trash-x: 115px;
$trash-y: 0px;
$trash-offset-x: -115px;
$trash-offset-y: 0px;
$trash-width: 12px;
$trash-height: 15px;
$trash-total-width: 127px;
$trash-total-height: 108px;
$trash-image: '../img/spriteIcons.png';
$trash: (115px, 0px, -115px, 0px, 12px, 15px, 127px, 108px, '../img/spriteIcons.png', 'trash', );
$icons-width: 127px;
$icons-height: 108px;
$icons-image: '../img/spriteIcons.png';
$icons-sprites: ($arrow-go, $arrow-go-green, $arrow-select, $arrow-slider, $basket, $cabinet, $check, $close, $delete, $fav, $lupa, $minus, $new, $orders, $plus, $sale, $shoes-children, $shoes-crox, $shoes-sandals, $shoes-smart, $shoes-snikers, $shoes-women, $trash, );
$icons: (127px, 108px, '../img/spriteIcons.png', $icons-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
