/*! ===== General styles ===== */
@include font-face('FontAwesome', '../fonts');
@include font-face('TrebuchetMS-Regular', '../fonts');
@include font-face('TrebuchetMS-Bold', '../fonts');
@include font-face('TrebuchetMS-Italic', '../fonts');

$FontAwesome: 'FontAwesome', Helvetica, sans-serif;
$TrebuchetMS-Regular: 'TrebuchetMS-Regular', Helvetica, sans-serif;
$TrebuchetMS-Bold: 'TrebuchetMS-Bold', Helvetica, sans-serif;
$TrebuchetMS-Italic: 'TrebuchetMS-Italic', Helvetica, sans-serif;

$container-width: 1920px;
$body-color: #fff;
$body-font-color: #353535;

$orange: #ffcc00;
$green: #438001;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column;
  font-family: $TrebuchetMS-Regular;
  font-size: 100%;
  color: $body-font-color;
  background-color: $body-color;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main.main {
  flex: 1 0 auto;
}

a, a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
  color: $body-font-color;
}

img {
  max-width: 100%;
}

ul[class] {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

h1[class], h2[class], h3[class], h4[class], h5[class], h6[class], p[class] {
  margin: 0;
  padding: 0;
}

._container {
  max-width: $container-width;
  margin: 0 auto;
}

._row {
  @include clearfix();  
}


/*! --- icons --- */
.icon {
  display: inline-block;
  background-image: url(../img/spriteIcons.png);
  vertical-align: middle;
}

@include icons($icons-sprites);
/*! --- END icons --- */


/*! --- standart buttons --- */
.button {
  display: inline-block;
  border: none;
  text-align: center;
  transition: .5s;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

/*! --- standart title --- */
.title {
  font: 37px $TrebuchetMS-Bold;
  color: $green;
  text-align: center;

  &__inner {
    position: relative;
    display: inline-block;
    padding: 0 25px 15px;    
  
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      max-width: 100%;
      height: 10px;
      margin: 10px auto 0;
      background: url(../img/other/line.png) 0 0 repeat-x;

    }
  }

}


/*! --- owl-carousel --- */
.owl-carousel {
  max-width: 925px;
  width: 85%;
  margin: 0 auto;
  margin-top: 65px;

  @include media(500) {
    width: 80%;
  }
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -5%;

  @include media(500) {
    left: -9%;
  }
}

.owl-next {
  right: -5%;

  @include media(500) {
    right: -9%;
  }
}

.owl-next .owl-nav_arrow {
  // transform: rotate(180deg);
}

.owl-nav_arrow {
  // width: 28px;
  // height: 46px;
}

/*! --- jcarousel --- */
.jcarousel {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

/*! --- google-map --- */

.google-map {
  position: relative;
}

.google-map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// select-custom
.select-custom,
.product-colors__select-custom,
.chekout-delivery__select-custom,
.chekout-payment__select-custom,
.catalog-sort__select-custom {
  position: relative;
  min-width: 140px;
  max-width: 40%;
  width: fit-content;
  white-space: nowrap;
  padding: 10px 30px 10px 10px ;
  cursor: pointer;
  font-size: 14px;
  z-index: 99;
  
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 23px;
    background-color: #c0c0c0;
  }  

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  &__selected {
    color: #9c9c9c;
    overflow: hidden;
  }
  
  &__list {
    display: none;
    position: absolute;
    top: 106%;
    left: 0;
    right: -7px;
    z-index: 1;
    min-width: 145px;
    min-width: max-content;
    background-color: #fff;
    border: 1px solid #ececec;
  }
  
  &__item {
    display: block;
    padding: 10px 15px;
    text-align: left;
    
    &:hover {
      background-color: rgba($green, 0.3);
    }
  }
}

/*! --- breadcrumbs --- */
.breadcrumbs {
  margin: 30px 15px;

  &__item {
    position: relative;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:not(:first-child):after {
      content: ">";
      position: absolute;
      top: 60%;
      left: -23px;
      transform: translateY(-50%);
    }

    &:last-child .breadcrumbs__link {
      color: #000;
    }
  }

  &__link {
    display: inline-block;
    font-size: 13px;
    color: #b3b3b3;
  }
}


/*! --- form --- */
.form {

  &__title {
    margin-bottom: 25px;
    font: 20px $TrebuchetMS-Bold;
    text-transform: uppercase;
  }

  &_contact {

  }

  &-group {
    float: left;
    width: 50%;

    &:last-child {
      padding-left: 30px;
    }
  }

  &__label {
    display: block;
    margin-top: 10px;

    &_button {
      margin-top: 25px;
    }

    &_required {
      .form__label-text:after {
        content: '*';
        color: red;
        margin-left: 5px;
      }
    }

    &_captcha {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-text {
      font-family: $TrebuchetMS-Bold;
    }
  }

  &__input {
    width: 100%;
    padding: 10px 15px;

    &_textarea {
      height: 110px;
      resize: none;
    }

    &_captcha {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
    }
  }

  &__captcha {
    display: inline-block;
    vertical-align: middle;
  }

  &__button {
    width: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
    border: 2px solid #7d7d7d;

    &:before {
      background-color: #7d7d7d;
    }
  }

  &__link_reset {
    color: $green;
    text-decoration: underline;
  }
}


/*! --- modals --- */
.modals {
  display: none;
}


/*! --- paging --- */
.paging {
  margin: 50px 0;

  &__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;

    &.active .paging__link {
      background-color: $orange;
      border-color: $orange;
    }
  }

  &__link {
    display: inline-block;
    border: 1px solid #ececec;
    padding: 15px 20px;
    color: #575757;

    &:hover {
      background-color: $orange;
      border-color: $orange;
    }
  }
}