/*! ===== General styles ===== */
@include font-face('FontAwesome', '../fonts');
@include font-face('TrebuchetMS-Regular', '../fonts');
@include font-face('TrebuchetMS-Bold', '../fonts');
@include font-face('TrebuchetMS-Italic', '../fonts');

$TrebuchetMS-Regular: 'TrebuchetMS-Regular', Helvetica, sans-serif;
$TrebuchetMS-Bold: 'TrebuchetMS-Bold', Helvetica, sans-serif;
$TrebuchetMS-Italic: 'TrebuchetMS-Italic', Helvetica, sans-serif;

$container-width: 1920px;
$body-color: #fff;
$body-font-color: #353535;

$orange: #ffcc00;
$green: #438001;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $TrebuchetMS-Regular;
  font-size: 100%;
  color: $body-font-color;
  background-color: $body-color;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
  color: $body-font-color;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

._container {
  max-width: $container-width;
  margin: 0 auto;
}

._row {
  @include clearfix();  
}


/*! --- icons --- */
.icon {
  display: inline-block;
  background-image: url(../img/spriteIcons.png);
  vertical-align: middle;
}

@include icons($icons-sprites);
/*! --- END icons --- */


/*! --- standart buttons --- */
.button {
  display: inline-block;
  border: none;
  transition: .5s;

  &:hover {
    cursor: pointer;
  }
}

/*! --- standart title --- */
.title {

}


/*! --- owl-carousel --- */
.owl-carousel {
  max-width: 925px;
  width: 85%;
  margin: 0 auto;
  margin-top: 65px;

  @include media(500) {
    width: 80%;
  }
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -5%;

  @include media(500) {
    left: -9%;
  }
}

.owl-next {
  right: -5%;

  @include media(500) {
    right: -9%;
  }
}

.owl-next .owl-nav_arrow {
  // transform: rotate(180deg);
}

.owl-nav_arrow {
  // width: 28px;
  // height: 46px;
}

/*! --- google-map --- */

.google-map {
  position: relative;
}

.google-map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// select-custom
.select-custom {
  position: relative;
  min-width: 140px;
  max-width: 40%;
  width: fit-content;
  white-space: nowrap;
  padding: 10px 30px 10px 10px ;
  cursor: pointer;
  font-size: 14px;
  
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 23px;
    background-color: #c0c0c0;
  }  

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  &__selected {
    color: #9c9c9c;
    overflow: hidden;
  }
  
  &__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    width: max-content;
    background-color: #fff;
    border: 1px solid #000;
  }
  
  &__item {
    display: block;
    padding: 10px 15px;
    text-align: left;
    
    &:hover {
      background-color: rgba($green, 0.3);
    }
  }
}

