/*! ===== header ===== */
header.header {
	
}

.header-top {
	background-color: #f8f8f8;

	&__right {
		float: right;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		margin-top: 15px;

		@include media(1350) {
			font-size: 14px;
		}

		@include media(700) {
			align-items: flex-end;
			flex-direction: column;
			margin-top: 5px;
			padding-right: 10px;
		}

		@include media(480) {
			padding: 0 10px 20px;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.header-main {
	padding: 0 15px;
}

.menu {
	position: relative;
	float: left;

	@include media(1350) {
		font-size: 12px;
	}
	@include media(480) {
		float: none;
		text-align: center;
	}

	&-list[class] {
		display: flex;
		flex-flow: row nowrap;

		@include media(1200) {
			opacity: 0;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 999;
			transform: translateX(-100%);
			height: 100vh;
			width: 100vw;
			flex-direction: column;
			padding-top: 50px;
			font-size: 16px;
			background: linear-gradient(to right, #f8f8f8 50%, rgba($orange, 0.8));
			transition: .5s;
		}
	}

	&.show {
		height: 48px;

		.menu-list[class] {
			@include media(1200) {
				transform: translateX(0);
				opacity: 1;
			}
		}

		.burger {
			@include media(1200) {
				position: fixed;
				padding: 5px 15px;
	
				span {
					display: none;
				}
				.icon {
					display: block;
				}
			}

		}
	}

	&-item {
		
		&_active .menu-link {
			color: $green;
		}
	}

	&-link {
		display: inline-block;
		padding: 15px;

		&:first-letter {
			text-transform: uppercase;
		}

		&:hover {
			color: $green;
		}
	}


	.burger {
		display: none;
		@extend .menu-link;
		font-size: 16px;
		color: $green;
		position: relative;
		z-index: 7999;
			cursor: pointer;
		
		.icon {
			display: none;
			transform: scale(0.5);
		}

		@include media(1200) {
			display: block;
		}
	}

}

.dropdown {
	position: relative;
	height: 17px;

	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		border-top: 5px solid #000;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
	}

	&__button {
		@include center-absolute();
		cursor: pointer;
	}

	ul {
		position: absolute;
		overflow: hidden;
		height: 100%;
	}

	&_open {
		ul {
			height: auto;
		}
		&:after {
			border-top: none;
			border-bottom: 5px solid #000;
		}
	}
}

.dropdown-group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;


	@include media(700) {
		margin-top: 10px;
		order: 2;
	}
}

.language {
	min-width: 40px;
	padding-right: 15px;

	&-item {
		&:first-letter {
			text-transform: uppercase;
		}
	}

	&-link {
		display: inline-block;
		margin-bottom: 5px;

		&:first-letter {
			text-transform: uppercase;
		}
	}

}

.currency {
	min-width: 45px;
	margin-left: 25px;
	padding-right: 15px;

	&-list[class] {

	}

	&-item {

	}

	&-link {
		display: inline-block;
		margin-bottom: 5px;

	}

}

.phones {
	min-width: 135px;
	margin-left: 45px;
	padding-right: 15px;


	@include media(700) {
		order: 3;
		margin: 15px 0;
	}


	@include media(480) {
		margin: 10px 0 0;
	}

	&-list[class] {

	}

	&-item {

	}

	&-link {
		display: inline-block;
		margin-bottom: 5px;
		font-family: $TrebuchetMS-Bold;
		color: #888;
	}

}

.schedule {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-left: 15px;
	padding-right: 15px;

	@include media(700) {
		order: 1;
		padding: 0;
	}

	@include media(480) {
		flex-basis: 100%;
		justify-content: center;
	}

	&-list[class] {
		display: flex;
		flex-flow: row nowrap;
	}

	&-item {
		margin-left: 5px;
		font-size: 12px;
		padding: 2px;
		border: 1px solid $green;
		color: $green;

		&_inactive {
			border-color: #acacac;
			color: #acacac;
		}
	}

	&-time {
		margin-left: 10px;
		color: #888;
	}

}

.header-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;

	@include media(992) {
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	@include media(640) {
		flex-direction: column;
		justify-content: center;
	}
}


.logo {
	margin: 20px 40px;

	@include media(1280) {
		margin-left: 0;
	}

	@include media(992) {
		flex-basis: 30%;
	}

	&-link {
		display: inline-block;
	}

	&-img {
		
	}
}

.form-search {
	width: 40%;
	height: 40px;
	border: 2px solid #848484;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	@include media(992) {
		flex-basis: 60%;
	}

	@include media(640) {
		width: 100%;
	}

	&__input {
		width: 70%;
		padding: 0 15px;
		border: none;
		outline: none;
	}

	&__select {
		width: 20%;
		border: none;
		outline: none;	
	}

	&__option {
	
	}

	&__button {
		min-width: 40px;
		background-color: $orange;
		
		&:hover {
			background-color: darken($orange, 10%);
		}

		.icon {

		}
	}
	
}

.hotlinks {
	@include media(992) {
		margin-bottom: 25px;
	}

	@include media(640) {
		margin-top: 25px;
	}

	&-list[class] {
		display: flex;
		flex-flow: row nowrap;
		text-align: center;

		@include media(480) {
			justify-content: center;
		}
	}

	&-item {
		@include media(480) {
			margin: 15px;
		}
	}

	&-link {
		display: inline-block;
		padding: 0 15px;

		&_basket {
			color: $green;
		}

		.icon {

		}

		&:hover {
			color: $green;
		}
	}
	
	&-text {
		margin-top: 5px;

		@include media(480) {
			display: none;
		}
	}
}

.hotlinks {

	&-submenu {

		&__item {

		}

		&__link {

		}
	}
}

.header-catalog {
	padding: 0 15px;
	background-color: $orange;
		position: relative;

	._container {
	}

	&-inner {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;


		& .header-catalog-list[class] {
			@include media(992) {
				display: none;
			}
		}
	}

	&-all {
		display: inline-block;
		padding: 15px 0;
		font: 18px $TrebuchetMS-Bold;
		color: #353535;
		
		&:hover{
			color: $green;
		}

		i {
			margin-right: 10px;
		}
	}

	&-list[class] {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		text-align: center;
	}

	&-item {
		
	}

	&-link {
		display: inline-block;
		padding: 15px;

		&:hover{
			color: $green;
		}

		&__text {
			display: inline-block;
		}

		.icon {
			margin-right: 10px;

		}
	}

	&-dropdown {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: $container-width;
		background: lighten($orange, 20%) linear-gradient(to bottom, #333, transparent 5px);
		z-index: 100;
		padding: 10px 15px;

		& > .header-catalog-list {
			@include media(992) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			& > .header-catalog-item {
				padding-left: 15px;
				text-align: left;
			}
		}

		.header-catalog-link__text {
			font-weight: bold;
		}

		.header-catalog-item {
			padding-right: 20px;

			&.parent {
				position: relative;

				.dropdown-arrow {
					content: '';
					position: absolute;
					top: 10px;
					right: -5px;
					width: 20px;
					height: 20px;
					cursor: pointer;
					outline: none;

					&:after {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						border-left: 6px solid #000;
						border-top: 4px solid transparent;
						border-bottom: 4px solid transparent;
						transition: .5s;
					}
				}
				

			}

			&.open > .header-catalog-link {
					.dropdown-arrow {
						right: 0;

						&:after {
							transform: rotate(90deg) translate(-50%, 50%);
						}
					}
				}
	
		}

		.header-catalog-link {
			padding: 10px 15px;
		}

		.sublist {
			width: 100%;
				padding-left: 15px;

			&__item {
				display: block;
				text-align: left;
			}

			&__link {
				display: block;
				padding: 10px 20px 10px 15px;
				text-align: left;
			}

			.sublist[class] {

				.sublist__link {
					display: inline-block;
					vertical-align: middle;

					&:before {
						content: '\2605';
						display: inline-block;
						vertical-align: middle;
						margin-right: 10px;
					}
				}

				.sublist[class] {

					.sublist__link {
						&:before {
							content: '\2606';
						}
					}
				}
			}
		}
	}
}


.header-status {

	&-list[class] {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		text-align: center;


		@include media(480) {
			display: none;
		}
	}

	&-item {

	}

	&-link {
		display: inline-block;
		padding: 15px;
		color: $green;

		&__text {
			display: inline-block;
		}
	
		.icon {
			margin-right: 10px;
		}
	}
}
